<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>homey</display-name>
	<welcome-file-list>
		<welcome-file>javaAngularJS</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>javaAngularJS</servlet-name>
		<servlet-class>com.servlet.AngularJsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>javaAngularJS</servlet-name>
		<url-pattern>/javaAngularJS</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getAllHobbyServlet</servlet-name>
		<servlet-class>com.servlet.GetAllHobbyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllHobbyServlet</servlet-name>
		<url-pattern>/getAllHobbyServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getHobbyDetailServlet</servlet-name>
		<servlet-class>com.servlet.GetHobbyDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getHobbyDetailServlet</servlet-name>
		<url-pattern>/getHobbyDetailServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>weatherServlet</servlet-name>
		<servlet-class>com.servlet.WeatherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>weatherServlet</servlet-name>

		<url-pattern>/lonLatServlet</url-pattern>
		<url-pattern>/postOrSubServlet</url-pattern>
	</servlet-mapping>
	
	
</web-app>